.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.navlink {
    text-decoration: none;
    color: white;
}

.navlink:hover{
    transform: scale(1.25);
    transition: all ease 500ms;
    color: white;
}

.list-form {
    width: 50%;
    margin: auto;
    padding: 10px;
    border: solid 2px black;
    margin-top: 20px;
}

#delete-trip-btn {
    margin-top: 5px;
}

.list-container {
    margin: auto;
    width: 50%;
}

.list-cards-container {
    width: 75%;
    margin: auto;
}

.login-form-container {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.signup-form-container {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.welcome-div {
    text-align: center;
}

#edit-list-link {
    color: white !important;
}
/* a.active {
    color: green;
} */